<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UploadFileHandler</servlet-name>
  	<display-name>UploadFileHandler</display-name>
  	<description></description>
  	<servlet-class>servlets.UploadFileHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServerStartUp</servlet-name>
  	<display-name>ServerStartUp</display-name>
  	<description></description>
  	<servlet-class>servlets.ServerStartUp</servlet-class>
  	<load-on-startup>1</load-on-startup>  
  </servlet>
  <servlet>
  	<servlet-name>ArduinoControl</servlet-name>
  	<display-name>ArduinoControl</display-name>
  	<description></description>
  	<servlet-class>servlets.ArduinoControl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NotificationSettings</servlet-name>
  	<display-name>NotificationSettings</display-name>
  	<description></description>
  	<servlet-class>servlets.NotificationSettings</servlet-class>
  </servlet>
 
  
  <servlet-mapping>
  	<servlet-name>UploadFileHandler</servlet-name>
  	<url-pattern>/UploadFileHandler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServerStartUp</servlet-name>
  	<url-pattern>/ServerStartUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ArduinoControl</servlet-name>
  	<url-pattern>/ArduinoControl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NotificationSettings</servlet-name>
  	<url-pattern>/NotificationSettings</url-pattern>
  </servlet-mapping>
</web-app>
